@page
@model crowdfarming.Pages.api.Index
@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>

<div>
    @* display projects list *@
    <div>
        @foreach (var project in Model.projects)
        {
            <div>
                <a href="/ @project.ID">@project.Name</a> 

                @* display project's owner *@
                <div>
                    @project.Name

                    @* display project's description *@
                    <div>
                        @project.Description
                    </div>  

                </div>
            </div>
        }
    </div>


   
</div>