@page
@model CrowdFarming.Pages_Farmer.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Farmer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Farmer.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Farmer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Farmer.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Farmer.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Farmer.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Farmer.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Farmer.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Farmer.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Farmer.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Farmer.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Farmer.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Farmer.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Farmer.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Farmer.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Farmer.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Farmer.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Farmer.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Farmer.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Farmer.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Farmer.UpdatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Farmer?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
